<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>
  <title>Food</title>
  <link rel="stylesheet" href="src/index.css">
</head>
<body>
  <div align="center">
  <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <input type="text" placeholder="Search Food..." align="right">

    </div>
  </div>
</body>
<footer>
  <img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" width="28">
  <a href= "https://github.com/SavageCoder77/food-hack">Github</a>
  <br>
  <img src="https://www.hshacks.com/images/logo.png" width="25" height="25">
  <a href="https://www.hshacks.com/">HSHacks</a>
</footer>
